/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* Rules applied to everything */
* {
    font-family: 'Open-Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #114D95;
}

input {
    -moz-border-radius:5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    border-radius: 5px; /* CSS3 */
    padding-left: 5px;
    color: #696969;
    border: 0px;
}

input[type=submit] {
    cursor: pointer;
}

input:focus {
    outline: 0px;
}


/* HEADER */
header {

    background-color: #3385E6;
}
/* LOGO */
.logo {
    display: inline;
    background-color: #3385E6;
    margin-top: 200px;
}

.logo img {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    height: 50px;

}

.logo h1 {
    vertical-align: 25px;
    display: inline;
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

}

/* SEARCH BOX*/
.searchBox  form {
    display: inline;
}

.searchBox #box {
    vertical-align: 30px;
    margin-left: 5%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 25px;
    width: 350px;
    -moz-box-shadow: 0 3px 4px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 3px 4px rgba(34,25,25,0.4);
}

.searchBox #submit {
    vertical-align: 30px;
    margin: -5px;
    height: 26px;
    width: 70px;
    border: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #FFAB27;
    color: white;
    font-weight: bold;
    -moz-box-shadow: 0 3px 4px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 3px 4px rgba(34,25,25,0.4);
}

.searchBox #submit:hover{
    background-color: #F1A122;
}

.searchBox {
    display: inline;
}

#nolink {
    background-color: transparent !important;

}


#nolink:hover {
    background-color: transparent !important;
    color: darkblue;
}

/* LOGIN */
.login, .logged {
    display: inline;
    float: right;
    margin-top: 25px;
}

.options {
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}

.login #signUp {
    margin-right: 150px;
}

.login #login {
    margin-bottom: 25px;
}

.logged #logout {
    margin-right: 150px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.logged #logout:hover {
    color: #114D95;
}

.logged form {
    display: inline;
}

/* SUBMENU */
.arrow {
    width: 0;
    height: 0;
    vertical-align: 10px;
    display: block;
    display: none;
    margin-left: 31px;
    margin-top: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFAB27;
}

.login .boxLogin, .logged .boxLogin {
    background-color: #FFAB27;
    padding: 10px;
    color: white;
    display: none;
    margin-left: -50px;
    position: absolute;
    border-radius: 5px;
    -moz-box-shadow: 0 7px 10px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 7px 10px rgba(34,25,25,0.4);
}

.login .boxLogin input {
    display: block;
    margin: 15px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: 200px;
    padding: 5px;
}

.login .boxLogin input[type=text],.login .boxLogin input[type=password]{
    height: 15px;
}

.login .boxLogin input[type=submit]{
    width: 210px;
}

.login .boxLogin input[type=submit]:hover {
    background-color: #BDBDBD;
}

.login .boxLogin label {
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
}


/* SECOND HEADER */
#secondHeader {
    height:40px;
    background:#D7D7D7;
    width: 100%;
    box-shadow: 0 5px 10px rgba(34,25,25,0.4);
    z-index: 9999;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

#secondMenu{
    margin-left: 20%;
    display: inline;
    vertical-align: 10px;
}

#secondMenu li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#secondMenu li:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 0px;
    width: 100%;
    background: transparent;
    -webkit-transition: all ease 0.218s;
    -moz-transition: all ease 0.218s;
    transition: all ease 0.218s;
}

#secondMenu li:hover:after {
    height: 3px;
    background: #3385E6;
}

#secondMenu li a:hover {
    color: #3385E6;
}

#secondMenu li.active a {
    color: #3385E6;
}

#secondMenu li.active:after  {
    height: 3px;
    background: #3385E6;
}

#secondLogo {
    display: none;
}

.fixedLogo {
    position: fixed;
}

#secondLogo img {
    height: 30px;
    display: inline;
    margin-left: 50px;
    margin-top: 4px;
}


/* ERROR 404 */
.error {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

#errorBox img {
    margin-left: 200px;
    margin-bottom: 110px;
}

#errorBox p {
    margin-left: 30px;
}

/* SIGN IN AND LOG IN*/
#registerForm, #loginForm, #errorBox, #newForm, #reviewBox{
    margin: 300px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 7px 10px rgba(34,25,25,0.4);
}

.error {
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
    border-color: red;
}


#registerForm h1, #loginForm h1, #newForm h1{
    padding-bottom: 20px;
}

#registerForm form .inputRegister,  #loginForm input,#newForm .inputRegister {
    margin: 20px;
    display: block;
    border: 1px solid ;
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left: 0;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    width: 400px;
}

.errorCaja {
    border: 1px solid red !important;
}

#registerForm form label, #loginForm label,#newForm label {
    font-weight: bold;
    font-size: 14px;
}


#newForm #photoInput {
    width: 403px;
}

#registerForm form .inputRegister[type=submit], #loginForm input[type=submit], #newForm input[type=submit], #reviewBox a , #nextPrev a{
    width: 308px;
    border: 0;
    color: white;
    font-weight: bold;
    background-color: #FFAB27;
}

#newForm #otherInput {
    width: 50px;
}

#newForm .inputRegister[type=radio] {
    height: 10px;
    margin: 0px;
    padding: 0px;
    width: 20px;
    display: inline;
    margin-bottom: 30px;
 }

#newForm input[type=submit] {
    width: 411px;
}

#registerForm form .inputRegister[type=submit]:hover, #loginForm input[type=submit]:hover,  #newForm input[type=submit]:hover ,
#reviewBox a:hover ,#nextPrev a:hover {
    background-color: #F1A122;
}

#loginForm {
    height: 400px;
}

#loginForm form{
    float: left;
}

#loginForm #errorMessage {
    color: red;
}

#confirmation {
    margin-top: 40px;
    margin-bottom: 40px;
}

#confirmation p,  #newForm p {
    margin-top: 10px;
    line-height: 24px;
}

#confirmation span {
    font-weight: bold;
}

#confirmation a {
    margin-left: 225px;
    color: black;
}

#confirmation img {
    margin-left: 200px;
    margin-top: 30px;
}

#newForm img {
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 170px;
}

#textSaved {
    display: none;
}

/* LOG OUT */
#loginForm img {
    margin-top: 100px;
    margin-left: -220px;
}

#loginForm #logout {
    margin-left: 100px;
}

/* NEW REVIEW */
#newForm input[type=file] {
    margin-bottom: 20px;
}

#newForm #descriptionReview {
    height: 200px;
    width: 500px;
}

#tempPhoto {
    height: 100px;
    width: 100px;
    margin-bottom: 20px !important;
    margin-left: 150px !important;
}

/* VIEW REVIEW */
#reviewBox img {
    border: none;
    margin-left: 150px;
    margin-bottom: 20px;
}

#reviewBox p {
    margin-bottom: 10px;
}

.reviewBig img {
    margin-left: 10px !important;
}

.reviewBig {
    margin-left: 200px !important;
    width: 700px;
}

#reviewBox label {
    font-weight: bold;
}

#reviewBox #title {
    margin-bottom: 10px;
}

#reviewBox .break {
    word-wrap: break-word;
}

#reviewBox a, #nextPrev{
    border-radius: 3px;
    padding: 5px;
    margin-left: 240px;
}

#nextPrev {
    margin-bottom: 100px;
    margin-left: 600px;
}

#nextPrev a{
    margin-left: 10px;
    margin-bottom: 300px;
    display: center;
}
#delete {
    margin-bottom: 20px;
}

#delete h1, #delete form{
    display: inline;
}

#delete form input[type=submit] {
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    height: 20px;
    width: 60px;
    color: white;
    background-color: red;
}

#delete #edit input {
    background-color: green;
}

#delete #edit input:hover {
    background-color: darkgreen;
}

#delete form input[type=submit]:hover {
    background-color: darkred;
}

/* HOME */
.bestReview {
    background-color:  #F1A122 !important;
    color: white !important;
}

#lastTen {
    display: inline !important;
}

/* TWITTER TIMELINE */
.twitter-timeline {
    width: 150px;
    height: 400px;
    margin: 5%;
    margin-left: 300px;
    border-radius: 7px;
    box-shadow: 0 7px 10px rgba(34,25,25,0.4);
    -moz-box-shadow: 0 7px 10px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 7px 10px rgba(34,25,25,0.4);
}

/* FACEBOOK */
#registerFacebook {
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    background-color: darkblue;
    color: white;
    border-radius: 3px;
    width: 308px;
    border: 0;
}

#facebook {
    background-color: darkblue;
    color: white;
}

/* FOOTER */
footer {
    clear: both;
    position: relative;
    z-index: -10;
    height: 3em;
    margin-top: -3em;
    background-color: #8C8C8C;
    margin-bottom: -300px;
}

footer a {
    float: right;
    padding-top: 17px;
    padding-right: 30px;
}


.bg a {
    color: black !important;
}






