<div id="reviewBox">
    <h1>BEST 10 Reviews</h1>
</div>
{   foreach from=$bestReviews item=reviews}
<div id="reviewBox" class="bg">
    <a id="nolink" href="{$url.global}/r/{$reviews.URL}"><h1 class="break" id="title">{$reviews.title}</h1></a>
    <p class="break"><label>Votes: </label>{$reviews.votes}</p>
</div>
{   /foreach}