    </div>
    <footer>
        <a>Agustin Armellini Fischer &#169</a>
    </footer>

<!--
    Els fitxers Javascript van al footer sempre tret de
     que siguin molt imprescindibles pel funcionament del web
 -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{$url.global}/js/scripts.js"></script>
    <script src="{$url.global}/js/fb.js"></script>


    </body>
</html>